@font-face {
    font-family: luf;
    src: url(font/LufgaBold.woff2);
    font-weight: bold;
}

@font-face {
    font-family: luf;
    src: url(font/LufgaMedium.woff2);
    font-weight: 400;
}


.banner {
    width: 970px;
    height: 250px;
    position: relative;
    overflow: hidden;
    font-family: "luf", sans-serif;
}

.banner img{
    display: block;
}

.banner-item {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}

.banner-item.active{
    z-index: 1;
}

.banner-image{
    position: absolute;
    right: 0;
}

.banner-text{
    font-size: 30px;
    font-weight: 700;
    margin-left: 70px;
    max-width: 50%;
    width: 100%;
    position: relative;
}

.banner-mini-text{
    position: absolute;
    bottom: 15px;
    right: 20px;
    color: #FFFEFE;
    font-weight: 400;
    font-size: 12px;
}

.banner-text--white {
    color: #fff;
}

.banner-text--list span{
    position: absolute;
    transform: translateY(-50%);
}

.banner-bg{
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
}




.anim-right{
    right: -100%;
}

.anim-top{
    top: -100%;
}

.anim-fade{
    opacity: 0;
}

.anim-bottom{
    bottom: -50%;
    z-index: -1;
}


.banner-item.active .anim-right{
    right: 0% !important;
}
.banner-item.active .anim-top{
    top: 0% !important;
}

.banner-item.active .anim-fade{
    opacity: 1 !important;
}

.banner-item.active .anim-fade.hidden{
    opacity: 0 !important;
}

.banner-item.active .anim-bottom{
    bottom: 0% !important;
}